{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Add Product</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'shop/assets/favicon.ico' %}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'shop/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-5 fw-bolder">Add Product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Add Product</button>
        </form>
    </div>
</section>
</body>
</html>